body {
    background-color: #5C628D
}
*{
    margin: 0;
    padding: 0;
}
.helpSpan1 {
    margin-top: .885rem;
    line-height: .25rem;
    color: #FFFFFF;
    text-align: center;
    font-size: .18rem;
    font-family: PingFangSC-Regular;
}

.deviceInfo {
    margin-top: .07rem;
    margin-bottom: .21rem;
    font-family: PingFang-SC-Bold;
    font-size: .3rem;
    color: #FFFFFF;
    line-height: .42rem;
    text-align: center;
}

.helpSpan2 {
    margin-bottom: .25rem;
    line-height: .225rem;
    color: #FFFFFF;
    text-align: center;
    font-size: .16rem;
    font-family: PingFangSC-Regular;
}


.earphone {
    margin: 0 auto;
    width: 2.75rem;
    height: .715rem;
    background: url(../img/jingdai_earphone.png) center/cover no-repeat;
    text-align: center;
}

.helpSpan3 {
    margin: .36rem 0 .15rem 0;
    color: #FFFFFF;
    text-align: center;
    font-size: .16rem;
    font-family: PingFangSC-Regular;
}

.show1 {
    position: relative;
    margin: 0 auto;
    margin-bottom: .1rem;
    width: 2.6365rem;
    height: .75rem;
    background: url(../img/shapeBack.png) center/cover no-repeat;
}

.show1 .pic1 {
    position: relative;
    width: .4rem;
    height: .4rem;
}
.pic1 img {
    position: absolute;
    top: .175rem;
    left: .3365rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .8;
}
.show1 span{
    position: absolute;
    top: .22rem;
    left: .8895rem;
    display: block;  
    color: #FFFFFF;
    font-size: .2rem;
    font-family: Times-Roman;
}

.show2 {
    position: relative;
    margin: 0 auto;
    width: 2.6365rem;
    height: .75rem;
    background: url(../img/shapeBack.png) center/cover no-repeat;
}

.show2 .pic2 {
    position: relative;
    width: .4rem;
    height: .4rem;
}
.pic2 img {
    position: absolute;
    top: .175rem;
    left: .3365rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .8;
}
.show2 span{
    position: absolute;
    top: .22rem;
    left: .8895rem;
    display: block;  color: #FFFFFF;
    font-size: .2rem;  
    font-family: Times-Roman;
}
.tip-bottom {
    width: 100%;
    margin: .26rem 0 .69rem 0;
}
.tip-bottom div{
    font-family: PingFang-SC-Regular;
    font-size: .12rem;
    line-height: .165rem;
    color: #BDBFDD;
    text-align: center;
}
.myBtn {
    position: fixed;
    bottom: .1rem;
    left:50%;
    margin-left: -1.77rem;
    width: 3.55rem;
    height: .4rem;
    border-radius: .06rem;  
    background: #637EF8;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0; font-size: .15rem;
    line-height: 0.4rem;
}